<!-- <header>

  <div class="row">
    <div class="column">
      <p>This is header</p>
    </div>
    <div class="column">
      <select class="" style="margin-top: 14px;" (change)="changeLanguageText($event)">
        <option value="Python">Python</option>
        <option value="Go">Go</option>
        <option value="Node">Node</option>
        <option value="Java">Java</option>
      </select>
    </div>
  </div>
</header>
<div id=wrap>
  <div class="linedtextarea" style="height:100%; overflow:hidden"><div class="lines" style="width: 3%; margin-top: 0px;"><div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div><div>7</div><div>8</div><div>9</div><div>10</div><div>11</div><div>12</div><div>13</div><div>14</div><div>15</div><div>16</div><div>17</div><div>18</div><div>19</div><div>20</div><div>21</div><div>22</div><div>23</div><div>24</div><div>25</div><div>26</div><div>27</div><div>28</div><div>29</div><div>30</div><div>31</div><div>32</div><div>33</div><div>34</div><div>35</div><div>36</div><div>37</div></div>
  <textarea #codearea itemprop="description" id="code" name="code" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false" wrap="off" style="width: 97%;">{{data}}
  </textarea>
 </div>
<button type="button" style="margin-top: 30px;" (click)='runCode(codearea.value)'>Run</button> -->

 <router-outlet></router-outlet>

<app-header></app-header>

<app-code></app-code> 

